<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Prihlásenie</title>

    <link href="vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" >
    <!--<link href="/vendors/css/vendor.bundle.base.css" rel="stylesheet" type="text/html">
    <link href="/css/style.css" rel="stylesheet" type="text/html">
    <link href="/css/my.css" rel="stylesheet" type="text/html">
    <link href="/images/mini-logo.png" rel="stylesheet" type="text/html">-->
  </head>

  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Prihlásenie</h3>

                  <form action="/login"  method="POST">

                  <div class="form-group">
                    <label>Meno*</label>
                    <input class="form-control p_input" id="name-input" name="username" style="color: white" type="text">
                      <p class="error" id="name-input-error-hint"></p>
                    </div>

                  <div class="form-group">
                    <label>Heslo *</label>
                    <input class="form-control p_input" id="password-input" name="password" style="color: white" type="password">
                      <p class="error" id="password-input-error-hint"></p>
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">

                  </div>

                  <div class="text-center">
                    <button class="btn btn-primary btn-block enter-btn" id="submit-button" onclick="canSubmit()" type="submit">Prihlásiť</button>
                  </div>

                </form>
                  <div class="text-center">
                      <form action="/sign-up/page" method="GET">
                          <button class="btn btn-primary btn-block enter-btn" onclick="saveToFile()" type="submit" >Registrovať</button>
                      </form>

                  </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>


  <!--  <script type="text/javascript" src="/assets/static/vendors/js/vendor.bundle.base.js"></script>


    <script type="text/javascript" src="/assets/static/js/off-canvas.js"></script>


    <script type="text/javascript" src="/assets/static/js/hoverable-collapse.js"></script>


    <script type="text/javascript" src="/assets/static/js/misc.js"></script>


    <script type="text/javascript" src="/assets/static/js/settings.js"></script>


    <script type="text/javascript" src="/assets/static/js/todolist.js"></script>


    <script type="text/javascript" src="/assets/static/js/my/main.js"></script>-->

  </body>
</html>
