
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
        <div class="card col-lg-4 mx-auto">
          <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3">Prihlásenie</h3>

            <form action="/login"  method="POST">

              <div class="form-group">
                <label>Meno*</label>
                <input class="form-control p_input" id="name-input" name="username" style="color: white" type="text">
                <p class="error" id="name-input-error-hint"></p>
              </div>

              <div class="form-group">
                <label>Heslo *</label>
                <input class="form-control p_input" id="password-input" name="password" style="color: white" type="password">
                <p class="error" id="password-input-error-hint"></p>
              </div>
              <div class="form-group d-flex align-items-center justify-content-between">

              </div>

              <div class="text-center">
                <button class="btn btn-primary btn-block enter-btn" id="submit-button" onclick="canSubmit()" type="submit">Prihlásiť</button>
              </div>

            </form>
            <div class="text-center">
              <form action="/sign-up/page" method="GET">
                <button class="btn btn-primary btn-block enter-btn" onclick="saveToFile()" type="submit" >Registrovať</button>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
