<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Materiály</title>

    <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/my.css">
    <link rel="stylesheet" th:href="@{/css/my.css}">

    <link rel="shortcut icon" href="/static/images/favicon.png" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/images/mini-logo.png}">

    <style>
        .flex-container {
            display: flex;
            flex-direction: column; /* or row, depending on your layout */
            max-height: 200px; /* set the maximum height for the container */
            overflow-y: auto; /* enable vertical scrollbar */
            border: 1px solid #ccc; /* optional: border for visualization */
        }

        #conversation-div
        {
            width: 100%; /* Set a fixed width */
            height: 400px;
            overflow: auto;
            scrollbar-color: #1763c7 white;
            scrollbar-width: thin;
            background-color: #495057;
        }


        .flex-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #eee; /* optional: border for visualization */
        }
        .left-item {
            border-radius: 5px 0 0 5px; /* Rounded border on the left */
            padding: 5px 10px;
            background-color: #3682ea;
        }
        .right-item {
            border-radius: 0 5px 5px 0; /* Rounded border on the right */
            padding: 5px 10px;
            background-color: #4bb63b; /* Optional: Background color */
            margin-left: auto;
        }
    </style>
</head>
<body>
<div class="container-scroller">

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" th:href="@{/person/home/page}"><img th:src="@{/images/logo.png}" alt="logo"/></a>
            <a class="sidebar-brand brand-logo-mini" th:href="@{/person/home/page}"><img th:src="@{/images/mini-logo.png}"
                                                                            alt="logo"/></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle" th:src="@{${imagePath}}" alt="avatar">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal" th:text="${personalInfo.name + ' ' + personalInfo.surname}"></h5>
                            <span style="color: whitesmoke" th:if="${personalInfo.role == T(com.milos.numeric.Authority).STUDENT}">Študent</span>
                            <span style="color: whitesmoke" th:if="${personalInfo.role == T(com.milos.numeric.Authority).TEACHER}">Vyučujúci</span>
                            <span style="color: whitesmoke" th:if="${personalInfo.role == T(com.milos.numeric.Authority).EMPLOYEE}">Zamestnanec</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link" style="color: whitesmoke">Navigácia</span>
            </li>

            <li class="nav-item menu-items">
                <a class="nav-link"  th:href="@{/person/home/page}">
              <span class="menu-icon">
                <i class="mdi mdi-function"></i>
              </span>
                    <span class="menu-title" style="color: whitesmoke">Numerické kategórie</span>
                </a>
            </li>


            <li th:if="${personalInfo.role == T(com.milos.numeric.Authority).TEACHER || personalInfo.role == T(com.milos.numeric.Authority).EMPLOYEE}" class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
                    <span class="menu-title">Používatelia</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="" th:href="@{/employee/students/page}">Študenti</a></li>
                        <li class="nav-item"> <a class="nav-link" href="" th:href="@{/employee/employees/page}">Zamestnanci</a></li>
                    </ul>
                </div>
            </li>

            <li  class="nav-item menu-items">
                <a class="nav-link" href="" th:href="@{/person/material/page}">
              <span class="menu-icon">
                <i class="mdi mdi-library-books"></i>
              </span>
                    <span class="menu-title" style="color: whitesmoke">Materiály</span>
                </a>
            </li>


            <li th:if="${personalInfo.role == T(com.milos.numeric.Authority).TEACHER || personalInfo.role == T(com.milos.numeric.Authority).STUDENT}" class="nav-item menu-items">
                <a class="nav-link" th:href="@{/person/chat/page}">
              <span class="menu-icon">
                <i class="mdi mdi-message-text">

                </i>
              </span>
                    <span class="menu-title" style="color: whitesmoke">
                        Správy
                    </span>
                </a>
            </li>

            <li th:if="${personalInfo.role == T(com.milos.numeric.Authority).STUDENT}" class="nav-item menu-items">
                <a class="nav-link" th:href="@{/student/schedule/page}">
              <span class="menu-icon">
                <i class="mdi mdi-timetable">

                </i>
              </span>
                    <span class="menu-title" style="color: whitesmoke">
                        Rozvrh
                    </span>
                </a>
            </li>

            <li th:if="${personalInfo.role == T(com.milos.numeric.Authority).STUDENT}" class="nav-item menu-items">
                <a class="nav-link" th:href="@{/student/profile/page}">
              <span class="menu-icon">
                <i class="mdi mdi-account-card-details">

                </i>
              </span>
                    <span class="menu-title" style="color: whitesmoke">
                        Profil
                    </span>
                </a>
            </li>


            <li th:if="${personalInfo.role == T(com.milos.numeric.Authority).TEACHER || personalInfo.role == T(com.milos.numeric.Authority).EMPLOYEE}" class="nav-item menu-items">
                <a class="nav-link" th:href="@{/employee/system/page}">
              <span class="menu-icon">
                <i class="mdi mdi-wrench">

                </i>
              </span>
                    <span class="menu-title" style="color: whitesmoke">
                        Systém
                    </span>
                </a>
            </li>


        </ul>
    </nav>

    <div class="container-fluid page-body-wrapper">

        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" th:href="@{/person/home/page}"><img th:src="@{/images/mini-logo.png}"
                                                                                            alt="logo"/></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">

                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <img th:if="${personalInfo.getGender().name() eq 'MALE'}" th:src="@{/images/faces-clipart/male.png}" alt="Avatar" />
                                <img th:if="${personalInfo.getGender().name() eq 'FEMALE'}" th:src="@{/images/faces-clipart/female.png}" alt="Avatar" />
                                <p class="mb-0 d-none d-sm-block navbar-profile-name"
                                   th:text="${personalInfo.name + ' ' + personalInfo.surname}"></p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profil</h6>
                            <div class="dropdown-divider"></div>

                            <div class="dropdown-divider"></div>
                            <a th:href="@{/person/password/update/page}" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Zmena hesla</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a th:href="@{/logout}" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Odhlásenie</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card"  th:if="${personalInfo.role == T(com.milos.numeric.Authority).TEACHER}">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Nahrať materiál</h4>
                                <p class="card-description"></p>
                                <div class="form-group">
                                    <label for="name-input"><h5>Názov materiálu*</h5></label>
                                    <input name="name" type="text" class="form-control" id="name-input" minlength="1" maxlength="15" placeholder="Počet znakov v rozsahu 1-15!" >
                                    <p class="error" id="name-input-error-hint"></p>
                                </div>


                                <div class="form-group">
                                    <label><h5>Súbor*</h5></label>
                                    <input id="file-input"
                                           type="file" accept=".pdf, .docx, .png, .jpg, jpeg, .csv, .pptx" size="5242880"
                                           name="data" class="file-upload-default" onchange="setFileName()">
                                    <div class="input-group col-xs-12">
                                        <input id="text-input" type="text" class="form-control file-upload-info" disabled placeholder="Podporované typy: pdf, docx, png, jpg, jpeg, csv, pptx.">
                                        <span class="input-group-append"><button onclick="clickOnInput()" class="file-upload-browse btn btn-primary" type="button">Vložiť</button></span>
                                    </div>
                                    <p class="error" id="file-input-error-hint"></p>
                                </div>

                                <div class="form-group">
                                    <label for="file-description"><h5>Popis</h5></label>
                                    <textarea id="file-description" name="description"  class="form-control"  rows="4" maxlength="50" placeholder="Maximálne 100 znakov!"></textarea>
                                </div>

                                <button id="submit-button" th:attr="onclick=|canSubmit('${personalInfo.username}')|" type="button" class="btn btn-success btn-icon-text"><i class="mdi mdi-upload btn-icon-prepend"></i>Odoslať</button>

                            </div>
                        </div>
                    </div>
                    <div th:class="${personalInfo.role == T(com.milos.numeric.Authority).TEACHER} ? 'col-md-6 grid-margin stretch-card' : 'col-md-5 grid-margin stretch-card'">
                        <div  class="card" id="conversation-div">
                            <div  class="card-body" >
                                <h4 class="card-title">Materiály</h4>
                                <div class="table-responsive">
                                    <table  class="table table-dark" style="color: white">
                                        <thead>
                                        <tr>
                                            <th style="color: white;">Názov</th>
                                            <th style="color: white">Popis</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${#lists.isEmpty(materials)}">

                                        </tr>
                                        <tr  th:id='${material.id}' th:each="material : ${materials}">
                                            <td><span  th:text="${material.name}"></span></td>
                                            <td><span  th:text="${material.description}"></span></td>
                                            <td>
                                                <button th:attr="onclick=|openFile('${material.id}')|"  type="button" class="btn btn-success btn-fw">Zobraziť</button>
                                            </td>
                                            <td  th:if="${personalInfo.role == T(com.milos.numeric.Authority).TEACHER}">
                                                <button th:attr="onclick=|deleteFile('${material.id}')|" type="button"  class="btn btn-danger btn-fw">Odstrániť</button>
                                            </td>
                                            <td>

                                            </td>

                                        </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                            href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                </div>
            </footer>
        </div>
    </div>

</div>


<script src="/static/vendors/js/vendor.bundle.base.js"></script>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>

<script src="/static/vendors/chart.js/Chart.min.js"></script>
<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
<script src="/static/vendors/progressbar.js/progressbar.min.js"></script>
<script th:src="@{/vendors/progressbar.js/progressbar.min.js}"></script>
<script src="/static/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script th:src="@{/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script src="/static/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script th:src="@{/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script src="/static/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<script th:src="@{/vendors/owl-carousel-2/owl.carousel.min.js}"></script>
<script src="/static/js/off-canvas.js"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script src="/static/js/misc.js"></script>
<script th:src="@{/js/misc.js}"></script>
<script src="/static/js/settings.js"></script>
<script th:src="@{/js/settings.js}"></script>
<script src="/static/js/todolist.js"></script>
<script th:src="@{/js/todolist.js}"></script>
<script src="/static/js/dashboard.js"></script>
<script th:src="@{/js/dashboard.js}"></script>
<script src="/static/js/chart.js"></script>
<script th:src="@{/js/chart.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.0/math.min.js"></script>
<script type="text/javascript" src="/js/my/main.js"></script>
<script type="text/javascript" th:src="@{/js/my/main.js}"></script>

</body>
</html>