<div class="card-body px-5 py-5">
<h3 class="card-title text-left mb-3">Prihlásenie</h3>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name-input">Meno*</label>
    <input type="text" id="name-input" class="form-control p_input" style="color: white" name="username" formControlName="username">
    <p class="error" id="name-input-error-hint"></p>
  </div>

  <div class="form-group">
    <label for="password-input">Heslo*</label>
    <input type="password" id="password-input" class="form-control p_input" style="color: white" name="password" formControlName="password">
    <p class="error" id="password-input-error-hint"></p>
  </div>

  <div class="form-group d-flex align-items-center justify-content-between">
    <a class="forgot-pass" target="_blank" rel="noopener noreferrer">Zabudnuté heslo</a>
  </div>

  <div class="text-center">
    <button type="submit"  class="btn btn-primary btn-block enter-btn">Prihlásiť</button>
  </div>

</form>

<div class="text-center">
  <button class="btn btn-secondary btn-block enter-btn" >Registrovať</button>
</div>

</div>
